* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 250px 4fr;
}

.header {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-child{
    display: flex;
    align-items: center;
}

.search {
    margin-left: 32px;
    flex: 1;
    max-width: 600px;
}

#searchbar {
    height: 28px;
    border: 0px;
    background-color: rgb(235, 232, 232);
    border-radius: 20px;
    width: 100%;
    margin: 16px 96px 16px 16px;
}

#search-button, #bell-icon {
    height: 28px;
    border: 0px;
    background-color: white;
}

.profile-pic {
    margin: 16px;
    border-radius: 50%;
}


.header-child > p{
    font-weight: bold;
    font-size: 18px;
    margin-right: 32px;
}

.dashboard {
    background-color: #0fa0da;
    color: white;
    font-weight: bold;
    padding: 16px;
    grid-row: 1/5;
}

#dash-head {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}
 
#dash-head > img {
    filter: invert(100%);
}

.dash-items {
    margin-top: 32px;
    margin-left: 8px;
    display: grid;
    grid-template-rows: repeat(10,30px);
    gap: 8px;
}

.dash-item {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.actions {
    margin-bottom: 3px;
    padding: 0 64px 0 32px;
    box-shadow: 4px 4px 6px rgb(189, 184, 184);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 90px 90px 90px;
    gap: 16px;
    align-items: center;
}

.actions-profile {
    display: flex;
    align-items: center;
}

.actions-profile > p {
    font-weight: bold;
    font-size: 12px;
}

.actions-profile > p > span {
    font-size: 20px;
}

.actions button {
    font-weight: bold;
    border: 0px;
    border-radius: 24px;
    background-color: #0fa0da;
    height: 35px;
    color: white;
}

.content {
    padding-top: 16px;
    padding-right: 16px;
    background-color: rgb(235, 232, 232);
    display: grid;
    grid-template-columns: 4fr 4fr 3fr;
    gap: 8px;
}

.projects {
    margin-bottom: 32px;
    padding: 0px 16px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 16px;
}

.project {
    border-left: 6px solid orange;
    box-shadow: 2px 2px 2px rgb(189, 184, 184);
    background-color: white;
    height: 200px;
    padding: 32px 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcements {
    margin-bottom: 16px;
    box-shadow: 2px 2px 2px rgb(189, 184, 184);
    border-radius: 12px;
    background-color: white;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cards {
    border-bottom: 1px solid rgb(179, 175, 175);
    padding-bottom: 16px;
}

.trending {
    margin-bottom: 32px;
    margin-top: 8px;
    box-shadow: 2px 2px 2px rgb(189, 184, 184);
    border-radius: 12px;
    background-color: white;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}